html, body{
	height: 100%;
}

.logo{
    color: #0061CF;
    font-size: 36px;
}

.page-title{
    text-align: center;
    color: #0061CF;
}

#content {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -5%;
}

#firepad-container{

    height: 100%;
}

.firepad {
    width: 100%;
    min-height: 400px;
}
.centered 
{
  position: fixed;
  top: 50%;
  left: 50%;
}

.panel-heading{
	text-align: center;
    font-size: medium;

}
.panel-heading p{
    padding: 0;
    color: #0061CF;
}

.panel-body .CodeMirror{
    text-align: left;
}

.panel-body{
	text-align: center;
    min-height: 40%;
}

.session{

}

.session button{
	width:20%;
	height:40px;
    font-size: large;

}

.session input{
    width:20%;
    height:40px;
    font-size: medium;
}

footer{
	height:5%;
    
}

footer .logo{
	color: #0061CF;
    font-size: 20px;
}

