<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{ } Code.ing</title> 
    
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">


      <!-- JS SCRIPTS START HERE -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="../static/js/main.js"></script>

  </head>
  <body>  

        <nav class="navbar-inverse navbar-default">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand logo" href="#">
                { } Code.ing
              </a>
            </div>     
              
               
          </div>
        </nav>
      <div class="container" id="content">
          <div class="page-header">
            <h1 class="page-title">{ } Code.ing <small>pushing the limits of pair programming</small></h1>
          </div>
        <div class="panel panel-default">
          <div class="panel-body">
              <!--<img src="../static/images/pai-panel.jpg" alt="..." class="img-rounded"  width="100%">-->
              <blockquote class="blockquote">
                Pair programming is an agile software development technique in which two programmers work together at one workstation. One, the driver, writes code while the other, the observer or navigator, reviews each line of code as it is typed in. The two programmers switch roles frequently.
              </blockquote>
                <form action="/create/session" method="post">
                    <div id="create-block" class="create ">
                        <div class="form-group form-inline session">
                            <input name="create_session" type="text" class="input-lg" placeholder="ENTER NICKNAME"/>
                            <button type="submit" class="btn btn-primary btn-lg" id="create-session-btn">CREATE SESSION</button>
                        </div>
                    </div>
                </form>

                <form action="/join/session" method="post">
                  <div id="join-block" class="create">
                    <div class="form-group form-inline session" >
                        <input name="join_session" type="text" class="input-lg" placeholder="ENTER SESSION NAME"/>
                        <button type="submit" class="btn btn-danger btn-lg" id="join-session-btn">JOIN SESSION</button>
                    </div>
                  </div>
                </form>


            </div>
          </div>
          </div>
      
      </div>
      <footer class="container-fluid text-center">
          <a href="#myPage" title="To Top">
            <span class="logo">{ } Code.ing</span>
          </a>
          <p>Powered by <a href="#" title="">Andela</a></p> 
      </footer>
      
      
      

      
     <script type="text/javascript">
    </script>
  </body>
</html>